* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

*:focus, *:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  background: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: #000;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

ul {
  margin: 0;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}

@font-face {
  font-family: 'TTNorms';
  src: url("../fonts/Regular/TTNorms-Regular.eot");
  src: url("../fonts/Regular/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Regular/TTNorms-Regular.svg#TTNorms-Medium") format("svg"), url("../fonts/Regular/TTNorms-Regular.ttf") format("truetype"), url("../fonts/Regular/TTNorms-Regular.woff") format("woff"), url("../fonts/Regular/TTNorms-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url("../fonts/Medium/TTNorms-Medium.eot");
  src: url("../fonts/Medium/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Medium/TTNorms-Medium.svg#TTNorms-Medium") format("svg"), url("../fonts/Medium/TTNorms-Medium.ttf") format("truetype"), url("../fonts/Medium/TTNorms-Medium.woff") format("woff"), url("../fonts/Medium/TTNorms-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url("../fonts/Bold/TTNorms-Bold.eot");
  src: url("../fonts/Bold/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bold/TTNorms-Bold.svg#TTNorms-Medium") format("svg"), url("../fonts/Bold/TTNorms-Bold.ttf") format("truetype"), url("../fonts/Bold/TTNorms-Bold.woff") format("woff"), url("../fonts/Bold/TTNorms-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.wow {
  opacity: 0;
}

body {
  background: #1E212A url("../img/bg.png") no-repeat center/cover;
  min-height: 100vh;
  padding: 60px 0;
  font-family: "TTNorms", sans-serif;
  color: #fff;
}

.apex-3 {
  max-width: 1250px;
  padding: 0 10px;
  margin: 0 auto;
}

.apex__top-row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 41px;
}

.social__item:nth-child(n+2) {
  margin-left: 17px;
}

.preloader {
  background: #1D202A;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.preloader__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: 0.3s 0.4s;
}

.preloader__wrapper svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader__wrapper.hidden {
  opacity: 0;
  visibility: hidden;
}

.apex__logo {
  text-shadow: 4px 6px 17px #000000;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 46px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: -7.8px;
}

.apex__menu {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apex__menu .menu__buttons {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  background: #242528;
  border-radius: 18px 18px 0 0;
}

.apex__menu .menu__buttons .menu__button:first-child {
  margin-right: -12px;
}

.apex__menu .menu__buttons .menu__button:last-child {
  margin-left: 0px;
}

.apex__menu .menu__button {
  border-radius: 0 18px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 12.68px;
  letter-spacing: 1.81px;
  padding: 8px 27px 7px 29px;
  display: block;
}

.apex__menu .menu__button:hover {
  box-shadow: -3px 0 3px 1px rgba(85, 70, 70, 0.46);
  background: linear-gradient(to left, #015eea 0%, #00c0fa 100%);
}

.apex__discord-btn {
  min-width: 178px;
  text-align: center;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 12.68px;
  letter-spacing: 0.7px;
  background: url("../img/discord-btn.png") center no-repeat;
  padding: 10px 17px 6px 14px;
  color: #fff;
}

.apex__menu .menu__button_3 {
  border-radius: 18px 0 18px 0;
}

.apex__menu .menu__button.active {
  box-shadow: -3px 0 3px 1px rgba(85, 70, 70, 0.46);
  background: linear-gradient(to left, #0ba9e5 0%, #3d53d7 100%);
}

.first-block {
  max-width: 100%;
  height: 81px;
  border-radius: 18px 0 18px 0;
  padding: 12px 16px 8px 16px;
  background: url("../img/title-bg.png") no-repeat center/cover;
}

.first-block__title {
  color: #fefefe;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.36px;
}

.first-block__text {
  margin-top: 6px;
  margin-left: 2px;
  color: #fefefe;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
}

.first-block__text span {
  font-weight: 700;
}

.news {
  margin-top: 17px;
}

.news__slider {
  width: 100%;
  height: 350px;
  border-radius: 5px;
}

.news .slider__item {
  display: block;
  background: url("../img/news_1.png") no-repeat center/cover;
  padding: 26px 19px;
}

.news .slider__item:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #09bbfe, #425aec);
  opacity: 0.8;
  z-index: 1;
}

.news__title {
  color: #fefefe;
  font-size: 36px;
  font-weight: 700;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 375px) {
  .news__title {
    font-size: 24px;
  }
}

.news__subtitle {
  font-size: 18px;
  line-height: 1.3;
  color: #fefefe;
  margin: 10px 0 0 1px;
  position: relative;
  z-index: 10;
}

.news__subtitle span {
  font-weight: 700;
}

@media screen and (max-width: 375px) {
  .news__subtitle {
    font-size: 14px;
  }
}

.news__pagination {
  bottom: 24px !important;
  position: absolute;
  z-index: 10;
  width: 56px !important;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.news__pagination-wrapper {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.news__pagination:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  width: 100%;
  height: 3px;
  background: #fff;
}

.news__pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  position: relative;
}

.news__pagination .swiper-pagination-bullet:nth-child(1) {
  margin-right: 5px;
  margin-left: 0;
}

.news__pagination .swiper-pagination-bullet:nth-child(1).swiper-pagination-bullet-active:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
  z-index: 2;
  width: 13px;
  height: 3px;
  background-image: linear-gradient(to left, #ffffff 0%, #4391e0 100%);
}

.news__pagination .swiper-pagination-bullet:nth-child(2) {
  margin: 0 5px;
}

.news__pagination .swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  z-index: 2;
  width: 13px;
  height: 3px;
  background-image: linear-gradient(to right, #ffffff 0%, #4391e0 100%);
}

.news__pagination .swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
  z-index: 2;
  width: 13px;
  height: 3px;
  background-image: linear-gradient(to left, #ffffff 0%, #4391e0 100%);
}

.news__pagination .swiper-pagination-bullet:nth-child(3) {
  margin-left: 5px;
  margin-right: 0;
}

.news__pagination .swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  z-index: 2;
  width: 13px;
  height: 3px;
  background-image: linear-gradient(to right, #ffffff 0%, #4391e0 100%);
}

.news__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  box-shadow: 0 0 13px 1px rgba(255, 255, 255, 0.11);
  background-color: #4391e0;
  border: 2px solid #fff;
}

.news__row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 22px;
}

.news__item {
  flex: 0 1 calc(50% - 15px);
  min-height: 260px;
  padding: 22px 17px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.news__item:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #0ba9e5, #3d53d7);
  opacity: 0.9;
  z-index: 1;
}

.news__item:nth-child(1) {
  background: url("../img/news_2.png") no-repeat center/cover;
}

.news__item:nth-child(2) {
  background: url("../img/news_3.png") no-repeat center/cover;
}

@media screen and (max-width: 992px) {
  .news__item {
    flex: 0 1 100%;
  }
  .news__item:nth-child(2) {
    margin-top: 22px;
  }
}

.news__registration {
  min-width: 166px;
  max-width: 166px;
  min-height: 20px;
  max-height: 20px;
  line-height: 20px;
  color: #fefefe;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  position: absolute;
  bottom: 73px;
  left: 17px;
  right: 17px;
  z-index: 10;
}

.news__registration.registration_closed {
  background: url("../img/registration-closed.png") no-repeat center/cover;
  box-shadow: 0 4px 7px 1px rgba(0, 0, 0, 0.47);
}

.news__registration.registration_open {
  background: url("../img/registration-open.png") no-repeat center/cover;
  box-shadow: 0 0 13px 1px rgba(236, 126, 130, 0.32);
}

.news__schedule {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #171717;
  min-height: 50px;
  padding: 19px 21px;
  z-index: 1000;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  border-radius: 5px 5px 0 0;
  color: #fff;
}

.apex__copyright {
  max-width: 390px;
  margin: 0 auto;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.12px;
}

.apex__copyright a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.12px;
}

.apex__copyright-wrapper {
  max-width: 1230px;
  margin: 48px auto 0;
  padding: 20px 15px;
  border-radius: 8px;
  background-color: #171717;
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .first-block__title {
    font-size: 24px;
  }
  .first-block__text {
    font-size: 16px;
    margin-top: 10px;
  }
  .first-block {
    height: 72px;
  }
  .apex__title {
    font-size: 20px;
    line-height: 1;
  }
  .apex__results {
    font-size: 20px;
    line-height: 1;
  }
  .players__criteria {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .apex__content .apex__block-1:nth-child(even) {
    margin-left: 0;
  }
  .apex__content {
    flex-direction: column;
  }
  .apex__row_1 {
    flex-direction: column;
    align-items: center;
  }
  .apex__content .apex__block-1:nth-child(n+2) {
    margin-top: 10px;
  }
  .apex__block-1 {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .item__team {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 580px) {
  .apex__discord-btn {
    margin-bottom: 10px;
  }
  .apex__menu {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .social {
    justify-content: center;
    margin-bottom: 15px;
  }
  .apex__logo {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .apex__menu .menu__button {
    padding: 8px 22px 7px 24px;
  }
  .first-block__title {
    font-size: 20px;
  }
  .first-block__text {
    font-size: 14px;
  }
  .apex__items::-webkit-scrollbar {
    width: 6px;
  }
  .apex__items::-webkit-scrollbar-thumb {
    border: 1px solid #212121;
  }
  .apex__content .apex__match .apex__items {
    padding-right: 5px;
    min-height: 274px;
  }
  .apex__title {
    font-size: 18px;
  }
  .apex__results {
    font-size: 18px;
  }
  .item__content {
    min-height: 34px;
    height: 42px;
  }
}

@media screen and (max-width: 380px) {
  .item__info {
    max-width: calc(100% - 5px);
    margin-left: 0;
  }
}

@media screen and (max-width: 360px) {
  .apex__menu {
    justify-content: center;
  }
}
