@font-face {
	font-family: 'Raleway Semibold';
	src: url('../font/Raleway-SemiBold.eot');
	src: url('../font/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../font/Raleway-SemiBold.woff') format('woff'),
	url('../font/Raleway-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway Regular';
	src: url('../font/Raleway-Regular.eot');
	src: url('../font/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
	url('../font/Raleway-Regular.woff') format('woff'),
	url('../font/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
    font-family: 'Raleway Regular', sans-serif;
}