@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*::selection {
  background: rgba(1, 94, 234, 0.8);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

*:focus,
*:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  background: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: #000;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

ul {
  margin: 0;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

@font-face {
  font-family: 'TTNorms';
  src: url("../fonts/Regular/TTNorms-Regular.eot");
  src: url("../fonts/Regular/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Regular/TTNorms-Regular.svg#TTNorms-Medium") format("svg"), url("../fonts/Regular/TTNorms-Regular.ttf") format("truetype"), url("../fonts/Regular/TTNorms-Regular.woff") format("woff"), url("../fonts/Regular/TTNorms-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url("../fonts/Medium/TTNorms-Medium.eot");
  src: url("../fonts/Medium/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Medium/TTNorms-Medium.svg#TTNorms-Medium") format("svg"), url("../fonts/Medium/TTNorms-Medium.ttf") format("truetype"), url("../fonts/Medium/TTNorms-Medium.woff") format("woff"), url("../fonts/Medium/TTNorms-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url("../fonts/Bold/TTNorms-Bold.eot");
  src: url("../fonts/Bold/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bold/TTNorms-Bold.svg#TTNorms-Medium") format("svg"), url("../fonts/Bold/TTNorms-Bold.ttf") format("truetype"), url("../fonts/Bold/TTNorms-Bold.woff") format("woff"), url("../fonts/Bold/TTNorms-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  background: #1D202A url("../img/bg.png") no-repeat center/cover;
  min-height: 100vh;
  padding-bottom: 60px;
  font-family: "TTNorms", sans-serif;
  letter-spacing: 0.1px;
}

.apex__top-row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 41px;
}

.social__item:nth-child(n+2) {
  margin-left: 17px;
}

.preloader {
  background: #1D202A;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.preloader__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: 0.3s 0.4s;
}

.preloader__wrapper svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader__wrapper.hidden {
  opacity: 0;
  visibility: hidden;
}

.wow {
  opacity: 0;
}

.tabs {
  display: none;
}

.tabs.active {
  display: block;
}

.apex {
  max-width: 1250px;
  margin: 0 auto;
  padding: 60px 10px 0 10px;
}

.apex__logo {
  text-shadow: 4px 6px 17px #000000;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 46px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: -7.8px;
}

.apex__menu {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apex__menu .menu__buttons {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  background: #242528;
  border-radius: 18px 18px 0 0;
}

.apex__menu .menu__buttons .menu__button:first-child {
  margin-right: -12px;
}

.apex__menu .menu__buttons .menu__button:last-child {
  margin-left: -12px;
}

.apex__menu .menu__button {
  border-radius: 0 18px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 12.68px;
  letter-spacing: 1.81px;
  padding: 8px 27px 7px 29px;
  display: block;
}

.apex__menu .menu__button:hover {
  box-shadow: -3px 0 3px 1px rgba(85, 70, 70, 0.46);
  background: linear-gradient(to left, #015eea 0%, #00c0fa 100%);
}

.apex__discord-btn {
  min-width: 178px;
  text-align: center;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 12.68px;
  letter-spacing: 0.7px;
  background: url("../img/discord-btn.png") center no-repeat;
  padding: 10px 17px 6px 14px;
  color: #fff;
}

.apex__menu .menu__button_3 {
  border-radius: 18px 0 18px 0;
}

.apex__menu .menu__button.active {
  box-shadow: -3px 0 3px 1px rgba(85, 70, 70, 0.46);
  background: linear-gradient(to left, #015eea 0%, #00c0fa 100%);
}

.apex .first-block {
  max-width: 100%;
  height: 81px;
  border-radius: 18px 0 18px 0;
  padding: 12px 16px 8px 16px;
  background: url("../img/title-bg.png") no-repeat center/cover;
}

.apex .first-block__title {
  color: #fefefe;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.36px;
}

.apex .first-block__text {
  margin-top: 6px;
  margin-left: 2px;
  color: #fefefe;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
}

.apex .first-block__text span {
  font-weight: 700;
}

.apex__items {
  /* полоса прокрутки (скроллбар) */
  /* ползунок скроллбара */
}

.apex__items::-webkit-scrollbar {
  width: 14px;
  border-radius: 7px;
  background-color: #212121;
}

.apex__items::-webkit-scrollbar-thumb {
  border: 4px solid #212121;
  border-radius: 100px;
  background-image: linear-gradient(to top, #015eea 0%, #00c0fa 100%);
}

.apex__content {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 17px;
}

.apex__content .apex__block-1:nth-child(even) {
  margin-left: 15px;
}

.apex__content .apex__block-1:nth-child(n+3) {
  margin-top: 17px;
  padding-bottom: 25px;
}

.apex__content .apex__match .apex__items {
  max-height: 234px;
  overflow-y: auto;
  padding-right: 10px;
}

.apex__content .apex__statistics .apex__items {
  max-height: 384px;
  overflow-y: auto;
  padding-right: 10px;
  position: relative;
}

.apex__content .apex__statistics_1 {
  padding-bottom: 15px;
}

.apex__block-1 {
  width: calc(50% - 7.5px);
  max-width: calc(50% - 7.5px);
  min-height: 250px;
  padding: 32px 8px 15px 8px;
  background-color: #171717;
  border-radius: 10px;
}

.apex__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
  padding: 0 8px;
}

.apex__row_1 {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  width: 100%;
  max-width: 100%;
}

.apex__title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.3px;
}

.apex__results {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.3px;
}

.apex .item:not(:last-child) {
  margin-bottom: 16px;
}

.apex .item__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  max-width: 100%;
  padding: 3px 4px 3px 8px;
  border-radius: 10px;
  background: #212121;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: .25s;
}

.apex .item__content:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to left, #015eea 0%, #00c0fa 100%);
  opacity: 0;
  transition: .35s;
}

.apex .item__content:hover {
  box-shadow: -3px 0 3px 1px rgba(85, 70, 70, 0.46);
}

.apex .item__content:hover:before {
  opacity: 1;
}

.apex .item__content.active {
  box-shadow: -3px 0 3px 1px rgba(85, 70, 70, 0.46);
}

.apex .item__content.active:before {
  opacity: 1;
}

.apex .item__team {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.16px;
  z-index: 2;
}

.apex .item__statistics-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.apex .item__statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: -0.12px;
  z-index: 2;
}

.apex .item__statistics-number {
  font-weight: 500;
  z-index: 2;
}

.apex .item__statistics-name {
  font-weight: 400;
  z-index: 2;
}

.apex .item__info {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  border-radius: 0 0 100px 10px;
  padding: 29px 60px 5px 5px;
  width: 520px;
  max-width: calc(100% - 30px);
  margin-top: -24px;
  margin-left: 10px;
  margin-bottom: 13px;
  position: relative;
  background: #212121;
  z-index: -1;
}

.apex .item__info-col {
  color: #ffffff;
  font-size: 12px;
}

.apex .item__info-col div:nth-child(n+2) {
  margin-top: 7px;
}

.apex .item__info-col:nth-child(1) {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.apex .item__info-col:nth-child(2) {
  margin-left: 41px;
  min-width: 61px;
}

.apex .item__info-col:nth-child(3) {
  margin-left: 90px;
  min-width: 70px;
}

.apex .item__info-col:nth-child(4) {
  margin-left: 62px;
  min-width: 75px;
}

.players__title {
  margin-bottom: 10px;
}

.players__row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.players__item {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 20px 5px;
  flex: 0 1 calc(50% - 10px);
  border-radius: 10px;
  background-color: #212121;
  position: relative;
  overflow: hidden;
}

.players__item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: -3px 0 3px 1px rgba(85, 70, 70, 0.46);
  background: linear-gradient(to left, #015eea 0%, #00c0fa 100%);
  opacity: 0;
  transition: .3s;
}

.players__item:hover:before {
  opacity: 1;
}

.players__criteria {
  color: #fefefe;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
  margin-left: 1px;
}

.players__items {
  padding: 0px 7px;
}

.players__help {
  margin-top: 12px;
}

.players__damage {
  margin-top: 12px;
}

.player__team-logo {
  flex: 0 0 58px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin-right: 20px;
  z-index: 2;
}

.player__team-logo img {
  width: 100%;
}

.player__wrapper {
  z-index: 2;
}

.player__name {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}

.player__name span {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  display: block;
}

.player__name span:nth-child(1) {
  width: 70px;
}

.player__name span:nth-child(2) {
  font-weight: 700;
}

.player__team {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5.5px;
}

.player__team span {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  display: block;
}

.player__team span:nth-child(1) {
  width: 70px;
}

.player__team span:nth-child(2) {
  font-weight: 700;
}

.player__kills {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5.5px;
}

.player__kills span {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  display: block;
}

.player__kills span:nth-child(1) {
  width: 70px;
}

.player__kills span:nth-child(2) {
  font-weight: 700;
}

@media screen and (max-width: 1440px) {
  .social {
    left: 30px;
  }
}

@media screen and (max-width: 1330px) {
  .social {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    left: auto;
    top: auto;
    position: relative;
    transform: none;
  }
  .social__item:nth-child(n+2) {
    margin-top: 0;
    margin-left: 10px;
  }
  .apex__menu {
    justify-content: space-between;
  }
  .apex .item__info-col:nth-child(2) {
    margin-left: 0;
  }
  .apex .item__info-col:nth-child(3) {
    margin-left: 0;
  }
  .apex .item__info-col:nth-child(4) {
    margin-left: 0;
  }
  .apex .item__info {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1250px) {
  .players__row {
    flex-direction: column;
  }
  .players__row .players__item:nth-child(2) {
    margin-top: 10px;
  }
  .players__item {
    flex: 0 1 100%;
  }
}

@media screen and (max-width: 1170px) {
  .players__item {
    flex: 0 1 calc(50% - 7.5px);
  }
}

@media screen and (max-width: 1024px) {
  .apex .first-block__title {
    font-size: 24px;
  }
  .apex .first-block__text {
    font-size: 16px;
    margin-top: 10px;
  }
  .apex .first-block {
    height: 72px;
  }
  .apex__title {
    font-size: 20px;
    line-height: 1;
  }
  .apex__results {
    font-size: 20px;
    line-height: 1;
  }
  .players__criteria {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .apex {
    max-width: 768px;
  }
  .apex__content .apex__block-1:nth-child(even) {
    margin-left: 0;
  }
  .apex__content {
    flex-direction: column;
  }
  .apex__row_1 {
    flex-direction: column;
    align-items: center;
  }
  .apex__content .apex__block-1:nth-child(n+2) {
    margin-top: 10px;
  }
  .apex__block-1 {
    width: 100%;
    max-width: 100%;
  }
  .apex .item__content {
    max-width: 100%;
  }
  .apex .item__info {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .apex .item__team {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 580px) {
  .apex__discord-btn {
    margin-bottom: 10px;
  }
  .apex__menu {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .social {
    justify-content: center;
    margin-bottom: 15px;
  }
  .apex__logo {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .apex .item__team {
    font-size: 12px;
    line-height: 14px;
  }
  .apex .item__info {
    border-radius: 0 0 50px 10px;
    padding-right: 20px;
  }
  .apex .item__info-col {
    font-size: 10px;
  }
  .apex .item__info-col:nth-child(1) {
    max-width: 30px;
  }
  .apex .item__info-col:nth-child(1) img {
    max-width: 100%;
  }
  .apex .item__info-col:nth-child(2) {
    margin-left: 0;
  }
  .apex .item__info-col:nth-child(3) {
    min-width: 58px;
  }
  .apex .item__info-col:nth-child(4) {
    min-width: 63px;
  }
}

@media screen and (max-width: 480px) {
  .apex__menu .menu__button {
    padding: 8px 22px 7px 24px;
  }
  .apex .first-block__title {
    font-size: 20px;
  }
  .apex .first-block__text {
    font-size: 14px;
  }
  .apex__items::-webkit-scrollbar {
    width: 6px;
  }
  .apex__items::-webkit-scrollbar-thumb {
    border: 1px solid #212121;
  }
  .apex__content .apex__match .apex__items {
    padding-right: 5px;
    min-height: 274px;
  }
  .apex__title {
    font-size: 18px;
  }
  .apex__results {
    font-size: 18px;
  }
  .apex .item__content {
    min-height: 34px;
    height: 42px;
  }
}

@media screen and (max-width: 380px) {
  .apex .item__info {
    max-width: calc(100% - 5px);
    margin-left: 0;
  }
}

@media screen and (max-width: 360px) {
  .apex__menu {
    justify-content: center;
  }
}

.apex__copyright {
  max-width: 390px;
  margin: 0 auto;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.12px;
  text-align: center;
}

.apex__copyright a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.12px;
}

.apex__copyright-wrapper {
  max-width: 1230px;
  width: calc(100% - 20px);
  margin: 15px auto 0;
  padding: 20px 15px;
  border-radius: 8px;
  background-color: #171717;
}
