@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*::selection {
  background: rgba(1, 94, 234, 0.8);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

*:focus,
*:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  background: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: #000;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

ul {
  margin: 0;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

@font-face {
  font-family: 'TTNorms';
  src: url("../fonts/Regular/TTNorms-Regular.eot");
  src: url("../fonts/Regular/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Regular/TTNorms-Regular.svg#TTNorms-Medium") format("svg"), url("../fonts/Regular/TTNorms-Regular.ttf") format("truetype"), url("../fonts/Regular/TTNorms-Regular.woff") format("woff"), url("../fonts/Regular/TTNorms-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url("../fonts/Medium/TTNorms-Medium.eot");
  src: url("../fonts/Medium/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Medium/TTNorms-Medium.svg#TTNorms-Medium") format("svg"), url("../fonts/Medium/TTNorms-Medium.ttf") format("truetype"), url("../fonts/Medium/TTNorms-Medium.woff") format("woff"), url("../fonts/Medium/TTNorms-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url("../fonts/Bold/TTNorms-Bold.eot");
  src: url("../fonts/Bold/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bold/TTNorms-Bold.svg#TTNorms-Medium") format("svg"), url("../fonts/Bold/TTNorms-Bold.ttf") format("truetype"), url("../fonts/Bold/TTNorms-Bold.woff") format("woff"), url("../fonts/Bold/TTNorms-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  background: #0c0c0c;
  min-height: 100vh;
  font-family: "TTNorms", sans-serif;
  letter-spacing: 0.1px;
}

.tournament__top-row{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 41px;
}

.preloader{
  background: #1D202A;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  &__wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10000;
    transition: 0.3s 0.4s;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.hidden{
      opacity: 0;
      visibility: hidden;
    }
  }
}

.wow{
  opacity: 0;
}

.header{
  position: relative;
  z-index: 1;
  &__row{
    max-width: 1155px;
    padding: 50px 0 32px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__social{
    .social__item{
      &:nth-child(n+2){
        margin-left: 17px;
      }
    }
  }
  &__logo{

  }
  &__menu{
    width: 298px;  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px 9px;
    background: #212121;
    border-radius: 10px;
    &-wrapper{
      display: flex;
      justify-content: flex-end;
      max-width: 1155px;
      margin: 0 auto -11px;
    }
    .menu__button{
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1.81px;
      background: #242528;
      width: 102px;
      height: 28px;
    }
    .menu__button_3{
      border-bottom-right-radius: 18px;
      border-top-left-radius: 18px;
      &:hover{
        box-shadow: -3px 0 3px 1px rgba(85, 70, 70, 0.46);
        background: linear-gradient(to left, #015eea 0%, #00c0fa 100%);
      }
    }
    .menu__button_3_active{
      box-shadow: -3px 0 3px 1px rgba(85, 70, 70, 0.46);
      background: linear-gradient(to left, #015eea 0%, #00c0fa 100%);
      border-bottom-right-radius: 18px;
    }
    .menu__button_2{
      border-top-right-radius: 18px;
      border-bottom-left-radius: 18px;
      &:hover{
        box-shadow: -3px 0 3px 1px rgba(85, 70, 70, 0.46);
        background: linear-gradient(to left, #015eea 0%, #00c0fa 100%);
      }
    }
    .menu__button_2_active{
      box-shadow: -3px 0 3px 1px rgba(85, 70, 70, 0.46);
      background: linear-gradient(to left, #015eea 0%, #00c0fa 100%);
      border-top-right-radius: 18px;
      border-bottom-left-radius: 18px;
    }
    .menu__button_1{
      border-top-right-radius: 18px;
      border-bottom-left-radius: 18px;
      &:hover{
        box-shadow: -3px 0 3px 1px rgba(85, 70, 70, 0.46);
        background: linear-gradient(to left, #015eea 0%, #00c0fa 100%);
      }
    }
    .menu__button_1_active{
      box-shadow: -3px 0 3px 1px rgba(85, 70, 70, 0.46);
      background: linear-gradient(to left, #015eea 0%, #00c0fa 100%);
      border-bottom-left-radius: 18px;
    }
    @media screen and (max-width: 600px){
      &-wrapper{
        justify-content: center;
      }
    }
  }
  @media screen and (max-width: 1200px){
    padding: 0 20px;
  }
}
.first-block{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 357px;
  background: #253066 url("../img/first-bg-2.png") no-repeat center/cover;
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.21);
    z-index: 1000;
    z-index: 0;
      }
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #09bbfe, #425aec);
    opacity: 0.9;
    z-index: 0;
      }
  &__title{
    position: relative;
    z-index: 100;
    text-align: center;
    margin-bottom: 22px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.75px;
    text-transform: uppercase;
    letter-spacing: -0.96px;
  }
  &__logo{
    position: relative;
    z-index: 100;
  }
  &__date{
    position: relative;
    z-index: 100;
    text-align: center;
    margin: 20px 0 24px;
    text-shadow: 1px -7px 11px rgba(0, 0, 0, 0.18);
    color: #fefefe;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.75px;
    text-transform: uppercase;
    letter-spacing: 0.24px;
  }
  &__button{
    position: relative;
    z-index: 100;
    text-align: center;
    min-width: 179px;
    padding: 0 10px;
    height: 27px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.99px;
    background: url("../img/button-bg.png") no-repeat center/cover;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 400px){
    &__title{
      font-size: 20px;
    }
    &__date{
      font-size: 20px;
    }
  }
}
.teams{
  position: relative;
  z-index: 100;
  padding: 16px 27px 33px 27px;
  width: 1155px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #171717;
  transform: translateY(-18px);
  @media screen and (max-width: 375px){
    max-width: calc(100% - 10px);
  }
  &__title{
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.19px;
    @media screen and (max-width: 382px){
      font-size: 18px;
    }
  }
  &__row{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
    @media screen and (max-width: 1080px){
      flex-direction: column;
      align-items: center;
    }
  }
  &__col{
    flex: 0 1 50%;
    max-width: 500px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &:nth-child(odd){
      .teams__item:nth-child(odd){
        border-radius: 0 10px 10px 0;
        @media screen and (max-width: 1080px){
          border-radius: 10px;
        }
      }
    }
    &:nth-child(even){
      .teams__item:nth-child(even){
        border-radius: 10px 0 0 10px;
        @media screen and (max-width: 1080px){
          border-radius: 10px;
        }
      }
    }
    @media screen and (max-width: 1180px){
      max-width: 450px;
    }
    @media screen and (max-width: 1080px){
      flex: 0 1 100%;
      max-width: 450px;
      &:nth-child(n+2){
        margin-top: 35px;
      }
    }
    @media screen and (max-width: 520px){
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media screen and (max-width: 383px){
      width: 100%;
    }
    &:nth-child(n+2){
      .teams__item{
        padding: 0 15px 0 3px;
        @media screen and (max-width: 1080px){
          padding: 0 3px 0 15px;
          .teams__item-logo{
            order: 10;
          }
        }
      }
    }
  }
  &__item{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #242528;
    max-width: 207px;
    height: 33px;
    padding: 0 3px 0 15px;
    &:nth-child(n+3){
      margin-top: 47px;
      @media screen and (max-width: 1080px){
        margin-top: 35px;
      }
    }
    &:nth-child(n+2){
      @media screen and (max-width: 520px){
        margin-top: 35px;
      }
    }
    @media screen and (max-width: 382px){
      max-width: 100%;
      width: 100%;
    }
    &-name{
      color: #fff;
      font-size: 16px;
      font-weight: 500;
    }
    &-logo{
      min-width: 78px;
      max-height: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media screen and (max-width: 1080px){
      max-width: 100%;
    }
  }
}
.tournament{
  min-height: 810px;
  padding-bottom: 14px;
  background: #1D202A url("../img/bg.png") no-repeat center/cover;
  .match{
    width: 1155px;
    max-width: calc(100% - 20px);
    margin: 10px auto 0;
    padding: 12px 13px 0px 25px;
    border-radius: 10px;
    background-color: #171717;
    @media screen and (max-width: 580px){
      padding: 12px 10px 0px 10px;
    }
    @media screen and (max-width: 375px){
      max-width: calc(100% - 10px);
    }
    &__content{
      display: flex;
      justify-content: space-between;
    }
    &__title{
      margin-bottom: 16px;
      color: #ffffff;
      font-size: 19px;
      font-weight: 700;
      line-height: 16px; 
      letter-spacing: -0.19px;
    }
    &__col{
      &:first-child{
        max-width: 500px;  
        margin-right: 68px;
      }
    }
    &__twitch{
      width: 500px;
    }
    .group{
      margin-bottom: 6px;
      &__item{
        margin-bottom: 5px;
        padding: 3px 23px 4px 10px;
        height: 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        background-color: #212121;
        &:first-child{
          .group__status{
            background-color: #d34444;
          }
        }
        &:nth-child(2){
          .group__status{
            background-color: #6cbda1;
          } 
        }
        &:last-child{
          .group__status{
            background-color: #5a6ee6;
          }
        }
      }
      &__name{
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -0.16px;
      }
      &__status{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 147px;
        height: 27px;
        border-radius: 10px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -0.14px;
      }
    }
    .description{
      padding-top: 6px;
      &__title{
        margin-bottom: 10px;
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.24px;
      }
      &__text{
        margin-bottom: 30px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        font-weight: 400;
        letter-spacing: -0.18px;
      }
    }
    @media screen and (max-width: 1000px){
      &__col{
        &:first-child{
          margin-right: 30px;
        }
      }
    }
    @media screen and (max-width: 900px){
      &__content{
        display: flex;
        flex-direction: column;
      }
      &__col{
        &:first-child{
          width: 100%;
          margin-bottom: 20px;
          margin-right: 0;
        }
      }
      &__twitch{
        width: 100%;
      }
    }
    @media screen and (max-width: 500px){
      .description{
        &__title{
          font-size: 22px;
        }
        &__text{
          font-size: 16px;
        }
      }
    }
  }
}

.tournament__copyright{
  max-width: 390px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.12px;
  a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.12px;
  }
  &-wrapper{
    max-width: 1155px;
    width: calc(100% - 20px);
    margin: 11px auto 0;
    padding: 20px 15px;
    border-radius: 8px;
    background-color: #171717;
    opacity: 0.6;
    @media screen and (max-width: 375px){
      max-width: calc(100% - 10px);
    }
  }
}
@media screen and (max-width: 420px){
  #twitch-embed iframe{
    height: 220px;
    max-height: 220px;
  }
}
@media screen and (max-width: 360px){
  #twitch-embed{
    margin: 0 -10px!important;
    max-width: calc(100% + 20px)!important;
    width: calc(100% + 20px)!important;
  }
}